*{
	margin: 0;
	padding: 0;
}

#header
{
	width: 100%;
}

.my-nav
{
	width: 100%;
	background-color: #558B2F;
	overflow: hidden;
}

.my-nav ul 
{
	list-style-type: none;
	/*margin: auto;*/
}

.my-nav ul li
{
	margin: auto;
	float: left;
	display: inline-block;
}

.my-nav ul li a:hover
{
	background-color: #33691E;
}

.my-nav ul li a
{
	text-decoration: none;
	color: #FFFFFF;
	padding: 30px;
}
#banner
{
	height: 200px;
/*	background-repeat: no-repeat;*/
	background-color: #3E960B;
	text-align: center;
}


#footer
{
	background: #1F1E23;
	color: #FFFFFF;
	/*line-height: 2px;*/
	text-align: center;
	/*border: 1px solid red;*/
	padding: 20px 0 20px 0;
	margin-bottom: 10px 0 0 0;
}
.question-num-list
{
	list-style-type: none;
}

.question-num-list li 
{
	float: left;
}

ul
{
	list-style-type: none;
}

/*CSS of Countdown Clock*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,400);
.mb20{
    margin-bottom:20px;
}
section {
    padding: 40px 0;
}
#timer .countdown-wrapper {
    margin: 0 auto;
}
#timer #countdown {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #eee;
    text-shadow: 1px 1px 5px black;
    padding: 20px 0;
}
#timer .countdown-wrapper #countdown .timer {
    margin: 0px;
    padding: 10px;
    font-size: 90px;
    border-radius: 50%;
    cursor: pointer;
}
/*#timer .col-md-4.countdown-wrapper #countdown .timer {
    margin: 10px;
    padding: 20px;
    font-size: 35px;
    border-radius: 50%;
    cursor: pointer;
}*/
#timer .countdown-wrapper #countdown #hour {
    -webkit-box-shadow: 0 0 0 5px rgba(92, 184, 92, .5);
    -moz-box-shadow: 0 0 0 5px rgba(92, 184, 92, .5);
    box-shadow: 0 0 0 5px rgba(92, 184, 92, .5);
}
#timer .countdown-wrapper #countdown #hour:hover {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(92, 184, 92, 1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(92, 184, 92, 1);
    box-shadow: 0px 0px 15px 1px rgba(92, 184, 92, 1);
}
#timer .countdown-wrapper #countdown #min {
    -webkit-box-shadow: 0 0 0 5px rgba(91, 192, 222, .5);
    -moz-box-shadow: 0 0 0 5px rgba(91, 192, 222, .5);
    box-shadow: 0 0 0 5px rgba(91, 192, 222, .5);
}
#timer .countdown-wrapper #countdown #min:hover {
    -webkit-box-shadow: 0px 0px 15px 1px rgb(91, 192, 222);
    -moz-box-shadow: 0px 0px 15px 1px rgb(91, 192, 222);
    box-shadow: 0px 0px 15px 1px rgb(91, 192, 222);
}
#timer .countdown-wrapper #countdown #sec {
    -webkit-box-shadow: 0 0 0 5px rgba(2, 117, 216, .5);
    -moz-box-shadow: 0 0 0 5px rgba(2, 117, 216, .5);
    box-shadow: 0 0 0 5px rgba(2, 117, 216, .5)
}
#timer .countdown-wrapper #countdown #sec:hover {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(2, 117, 216, 1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(2, 117, 216, 1);
    box-shadow: 0px 0px 15px 1px rgba(2, 117, 216, 1);
}
#timer .countdown-wrapper .card .card-footer .btn {
    margin: 2px 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
    #timer .countdown-wrapper #countdown .timer {
        margin: 10px;
        padding: 10px;
        
    }
}
@media (min-width: 768px) and (max-width: 991px) {
     #timer .countdown-wrapper #countdown .timer {
        margin: 10px;
        padding: 10px;
        
    }
}
@media (max-width: 768px) {
    #timer .countdown-wrapper #countdown .timer {
        margin: 10px;
        padding: 10px;
        
    }
}
@media (max-width: 767px) {
    #timer .countdown-wrapper #countdown #hour,
    #timer .countdown-wrapper #countdown #min,
    #timer .countdown-wrapper #countdown #sec {
        font-size: 15px;
        border-radius: 4%;
    }
}

@media(max-width: 990px){
	#left,#right
	{
		float: none;
		width: 800px;
		position: static;
	}
	.card-footer
	{
		display: none;
	}
}

#timer .countdown-wrapper #countdown #hour,
#timer .countdown-wrapper #countdown #min,
#timer .countdown-wrapper #countdown #sec {
        font-size: 20px;
        border-radius: 50%;
    }
/*    #timer .countdown-wrapper #countdown .timer {
        padding: 2px;
    }
*/

#timer .countdown-wrapper #countdown span.dots {
    margin-top: -5px;
    font-size:20px;
    color:blue;
}